@import 'base/variables';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700');



// 6. Import the rest of Bulma

body {
  font-family:'IBM Plex Sans', sans-serif !important;
  color:#565656;
  height:100vh;
  margin:0;
  padding:0;
}

input[type=search] {
  border-radius: 4px!important;
  -webkit-appearance: none!important;
  border-style:none!important;
  height:45px!important;
}


.header-information{
  padding-top:50px;
  background-color:#fff;
  margin-top:350px;
}

.has-bg-img {
  background: url('/images/statics/bg-img.png')no-repeat;
  background-size:cover;
  background-position: top 100px!important;
  min-height:680px;
  padding-top:80px;
}

.has-faq-img {
  background: url('/images/statics/faq-bg-img.png')no-repeat;
  background-size:cover;
  background-position: top 100px!important;
  min-height:325px;
  margin-top:80px;
}

.has-footer-img {
  background: url('/images/statics/footer.png')center center;
  background-size:cover;
  min-height:200px;
  padding:30px;
}

.has-copyright-img { background: url('/images/statics/footer-copyright.png')center center;
  background-size:cover;
  min-height:80px;
  padding:20px;
}

.custom {
min-height:650px;
}

.copyright{
  position:absolute;
  right:0;
  width:250px;
  top:30px;
}

.has-copyright-img h1{
  color:rgba(255,255,255,0.5);
  position:absolute;
  display:block;
  float:left;
}

.social-icons{
  height:30px;
  float:right;
}

.visionidentity{
  color:#565656!important;
  font-weight: 200!important;
  padding-right:50px!important;
}


.facebook, .instagram, .twitter {
  width:20px;
  height:20px;
  padding:2px;
  margin-top:2px;
}

.aboutimage{
  display:block;
  float:right;
  margin-top:-50px;
  margin-right:-10px;
}

.results-image{
  display:block;
}

a {
  color:$blue;
  font-weight:500;
}

.text{
  margin:0!important;
}

.textarea{
  box-shadow:rgba(0,0,0,0)!important;
}

.resultsselect{
  height: 32px!important;
  border-radius: 4px!important;
  border: solid 1px $lightgrey !important;
  margin:15 0 15 0;
  color:$darkgrey !important;
  line-height:normal!important;
  font-size:14px!important;
  font-weight: 500!important;
}

.resultsselect:hover{
  background-color: $blue!important;
  border: solid 1px $white !important;
  color:$white !important;
}



.clearfilter{
  height: 32px!important;
  border-radius: 4px!important;
  border: solid 1px red !important;
  margin:15 0 15 0;
  color:$red!important;
  line-height:normal!important;
  font-size:14px!important;
}

.clearfilter:hover{
  background-color: $red!important;
  border: solid 1px $white !important;
  color:$white !important;
}

/* TEAL TITLE*/
.style-1{
  color:$teal;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.27;
  padding-bottom:20px;
}

/* DARK GREY TITLE*/
.style-2{
  font-size: 30px;
  font-weight: 300;
  color:$darkgrey;
  padding-bottom:20px;
}

/* BLUE SUBTITLE*/
.style-3{
  font-size: 16px;
  font-weight: 600;
  color: $blue;
  padding-bottom:15px;

}

/* DARK GREY SUBTITLE*/
.style-4{
  font-size: 16px;
  font-weight: 500;
  color: $darkgrey;

}

/* WHITE TITLE*/
.style-5{
   font-size: 34px;
   color:$white;
}

/* WHITE FOOTER*/
.style-6{
   font-size: 20px;
   color:$white;
   font-weight:500;
}

/* LINK TEAL BOLD*/
.style-7{
   font-size: 18px;
   color:$teal;
   font-weight:600;
}
\
.style-7 a:hover{
  color:$yellow!important;
}

.is-info{
  background-color: $teal!important;
  height:45px;
  position:relative;
}

.divider{
border-right:solid 1px $lightgrey;
margin-right:4%;
height:80px;
}

strong{
  font-weight:500!important;
}
select{
  font-weight:400!important;
  font-family: 'IBM Plex Sans', sans-serif !important;
  color:#9B9B9B!important;
  padding-right: 0!important;
  border-style: none!important;
  height:45px!important;
  margin:30 20 30 0!important;
}



.pagination-link{
color:$lightgrey;
border-style: none;
}



.is-warning{
  color:#fff !important;
  background-color: #F9B233!important;
  height:45px!important;
  font-weight:600!important;
}

.top {
padding-top:80px;

}
.light{
  font-weight:400;
}

.section{
  padding-top:30px!important;
  padding-bottom:20px!important;
}


#map {
  height: 200px;
  margin:0 0 0 100px;
}

span {
  border-style: solid!important;
  border-color: $blue !important;
  color: $blue!important;
}

.pagination-previous:active, .pagination-next:active, .pagination-link:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0);
}

.pagination-previous:focus, .pagination-next:focus, .pagination-link:focus {
    border-color: #fff;
}

.pagination-previous:hover, .pagination-next:hover, .pagination-link:hover {
    color: $blue!important

}


.li-tag {
   display: block;
   float: left;
   margin-right:2px;
 }


.a-color {
  color:$teal;
  font-size: 20px!important;
}

.logo {
  top: 50%;
  margin-top: -70px;

}

.logo2 {
  margin-top:20%;
  height:10px;
  left:50%;
  margin-left:-60px;
}

.back {
  margin-left:-40px;
}


.more-details{
  font-weight:500;
  padding: 25px 30px;
  color: #565656;
  position:absolute;
  bottom:10px;
}


.break{
  background-color:#f3f3f3;
  height:2px;
  margin-top:50px;
  margin-bottom:50px;
}

.blankbreak{
  height:10px;
  margin-top:20px;
  margin-bottom:20px;
}



.minibreak{
  height:10px;
  margin-top:10px;
  margin-bottom:10px;
}

.bluebreak{
  background: url('/images/statics/bluebreak.svg');
  height:5px;
  // margin-top:84px;
  // margin-bottom:34px;
  margin-top:30px;
  margin-bottom:30px;
}



.faqbreak{
  background: url('/images/statics/bluebreak.svg');
  height:5px;
  margin:0;
}

.specialbluebreak{
  background: url('/images/statics/bluebreak.svg');
  height:5px;
  margin-top:100px;
  margin-bottom:30px;
}

.greybreak{
  height:1px;
  background-color: $lightgrey;
  margin-bottom:50px;
}
.icon {
  background-color:transparent;
}

p {
  margin-top:20px !important;
}

.apply {
  margin-top:20%;
  min-width: 150px;
}



.apply-award {


}

.awarddescription{
  padding-right:10%!important;
}
.search{
  width:491px;
  margin-left:5%;
  margin-top:20px;
  height:42px!important;
}

.top-search{
  margin-top:8px;
  margin-left:10px;
  border-style:solid;
  border-color:$lightgrey;
  border-width: 1px;
  border-radius:4px;
}
.more-info{
  margin-top:10px;
  min-width:150px;
  height:45px;
}

.is-outlined{
  height:45px;
  font-weight:500!important;
}


.major{
  list-style:circle;
  margin-left:20px;
  padding-top:20px;
  color: $darkgrey;
  font-size: 16px;
  line-height: 2.86;
  letter-spacing: normal;
}

.back-icon{
width: 25px;
padding-right:5px;
}



.major-split {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 40px;

}

.lihorizontal {
  display:inline-block;
  margin-bottom:2%;
}



.sorry {
  height:100vh!important;
}
.clmbg{
  background-color: #F1F1F1;
  border-radius: 4px;
  margin:0;
  padding-left:10px;
  padding-right:10px;
}

.navbar {
  height:80px;
  width:100%;
  position:fixed;
  margin-bottom:100px;
  border-bottom: 1px solid $lightgrey;
}


.menu-wrapper{
  position:absolute;
  float:right;
  right:0!important;
  top:30px;
}

.linkstyle-1{
  float:left;
  padding-right:30px;
}


.linkstyle-1 a {
  padding-left:20px;
  font-weight:500;
  font-size: 16px;
  text-align: right;
}

.linkstyle-1 a:hover{
  color:$yellow!important;
}


.linkstyle-2{
  font-size: 18px;
  color:$teal;
  font-weight:600;
}


.linkstyle-2 a:hover{
  color:$yellow!important;
}


.social-icons a{
padding:0;
}

.mn7logo{
}

.footer-logo{
  width:61px;
  height:47px;
  padding-top:10px;
  mix-blend-mode: screen;
  margin-left:-10px;
}

.navbar-item img {
  max-height:35px;
}
.country-info{
  position:absolute;
  bottom:20px;
  width:100%;
}

.no-results{
  height:500px!important;
  background-color:$blue;
}

.location{
  width:140px;
  padding-right:0!important;
}

.main-info{
  background-color:#fff;
}

.results-button{
  font-weight:300!important;
  color:#9B9B9B!important;
  padding-right: 0!important;
  border-style: solid;
  border-radius:4px;
  height:32px!important;
}


#myBtn {
  display: none;
  position: fixed;
  bottom:10px;
  right: 10%;
  z-index: 99;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.navbar-item{
  margin:0!important;
  padding:0!important;
}
.backtotop{
  width:20px;
  height:43px;
}

.motivation-download{
  margin-top:20%;
  min-width: 150px;
}

.cv-download{
  margin-top:10px;
  min-width: 150px;
}

.answer-bg{
  background-color:rgba(10,170,177,0.1);
  padding:30px 20px 40px 20px;
  margin-bottom:50px;
}

.question{
  padding-right:20%;
}

.margintop{
  margin-top:100px;
}

.awardtitle{
  padding-left:4%;
}
