<!-- footer -->
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpvxpHD5RyBKab6eyQkQp-erJbQY1IQJk&callback=initMap"
  async defer></script>


	<section class="footer">
  </section>
