<title></title>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% hook 'seo' %}

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"> -->
<link rel="stylesheet" href="/dist/css/style.min.css">
<link rel="stylesheet" href="/vendors/bulma/css/bulma.css">


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url('/') }}">


      {% set asset = navigation.mainlogo.one() %}
      {% if asset %}
     <img class = "mn7logo" src = "{{ asset.url}}">
    {% endif %}
    </a>

<div class = "menu-links">
    <a href = "{{ url('static/faq') }}"> FAQs & Guides</a>
  </div>
  </div>
</nav>
